@model agenciaDeViajesV2.Models.HotelClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>HotelClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PK_hotel" />
            <div class="form-group">
                <label asp-for="hotelName" class="control-label"></label>
                <input asp-for="hotelName" class="form-control" />
                <span asp-validation-for="hotelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="addressAt" class="control-label"></label>
                <input asp-for="addressAt" class="form-control" />
                <span asp-validation-for="addressAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stars" class="control-label"></label>
                <input asp-for="stars" class="form-control" />
                <span asp-validation-for="stars" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageHotel" class="control-label"></label>
                <input asp-for="imageHotel" class="form-control" />
                <span asp-validation-for="imageHotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="states" class="control-label"></label>
                <input asp-for="states" class="form-control" />
                <span asp-validation-for="states" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

