@model agenciaDeViajesV2.Models.SeatClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SeatClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PK_seat" />
            <div class="form-group">
                <label asp-for="FK_fly" class="control-label"></label>
                <select asp-for="FK_fly" class="form-control" asp-items="ViewBag.FK_fly"></select>
                <span asp-validation-for="FK_fly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_offer" class="control-label"></label>
                <select asp-for="FK_offer" class="form-control" asp-items="ViewBag.FK_offer"></select>
                <span asp-validation-for="FK_offer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seatNumber" class="control-label"></label>
                <input asp-for="seatNumber" class="form-control" />
                <span asp-validation-for="seatNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="reserState" /> @Html.DisplayNameFor(model => model.reserState)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="states" class="control-label"></label>
                <input asp-for="states" class="form-control" />
                <span asp-validation-for="states" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

