@model agenciaDeViajesV2.Models.RoomClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RoomClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PK_room" />
            <div class="form-group">
                <label asp-for="FK_hotel" class="control-label"></label>
                <select asp-for="FK_hotel" class="form-control" asp-items="ViewBag.FK_hotel"></select>
                <span asp-validation-for="FK_hotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pricePerNight" class="control-label"></label>
                <input asp-for="pricePerNight" class="form-control" />
                <span asp-validation-for="pricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacity" class="control-label"></label>
                <input asp-for="capacity" class="form-control" />
                <span asp-validation-for="capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="updatedAt" class="control-label"></label>
                <input asp-for="updatedAt" class="form-control" />
                <span asp-validation-for="updatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="states" class="control-label"></label>
                <input asp-for="states" class="form-control" />
                <span asp-validation-for="states" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

